# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django-specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask-specific files
instance/
.webassets-cache

# Scrapy-related files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Pipfile.lock can optionally be committed for version control.
# Uncomment the line below if you don't want to include it.
# Pipfile.lock

# poetry
# poetry.lock is recommended to commit to ensure reproducibility
# Uncomment below if you don't want to include it.
# poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery-related files
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Docker-related files
docker/*.log                  # Docker log files
docker-compose.override.yml   # Override file for local development

# FastAPI / Starlette-related files
*.db                          # SQLite database files
*.sqlite3                     # SQLite database files
*.sqlite3-journal             # SQLite journal files

# Cache directories
*.jyson_cache/                  # Python-related cache directory

# VS Code settings
.vscode/                      # VS Code settings directory

# OS-specific files
.DS_Store                     # macOS metadata files
Thumbs.db                     # Windows metadata files

# Other
serviceAccountKey.json
